body {
    background-color: blueviolet;
    text-align: center;
}

h1 {
    margin: 40px 10px 20px;
}

div {
    background-color: white;
    height: 200px;
    width: 200px;
    justify-self: center;
    margin: 60px;
}

#hexP {
    font-weight: bold;
    display: inline;
}

#copy-btn {
    position: absolute;
    right: 43%;
    border: none;
    background-color: blueviolet;
}

h6 {
    border-radius: 3px;
    color: white;
    padding: 6px;
    position: absolute;
    right: 41%;
    top: 52%;
    background-color: rgb(20, 2, 36);
}



#click-btn {
    display: block;
    justify-self: center;
    font-size: 20px;
    background-color: yellow;
    border: none;
    border-radius: 20px;
    margin-top: 20px;
}


@media (min-width: 720px) and (max-width: 1080px) {
    body {
        font-size: xx-large;
    }

    h1 {
        font-size: xx-large;
    }

    div {
        height: 300px;
        width: 300px;
    }

    #hexP {
        font-size: 50px;
        font-weight: bold;
        display: inline;
    }

    #copy-btn {
        position: absolute;
        right: 34%;
        font-size: 20px;
    }

    h6 {
        border-radius: 3px;
        color: white;
        padding: 6px;
        position: absolute;
        right: 25%;
        top: 25%;
    }



    #click-btn {
        font-size: 40px;
    }
}